/****************************************************** main.css ******************************************************/

/*
    Main stylesheet for testing out some designs for a website.

    Copyright (C) 2019  Transistories

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

/************************************************** Table of contents *************************************************/

/*  Table of contents

    1. Basics
        1.1. Prep
        1.2. Typography
            1.2.1. Built-ins
            1.2.2. Custom
            1.2.3. Numbered headings
        1.3. Page structure
            1.3.1. Desktop
            1.3.2. Mobile
    2. Header
    3. Navigation
        3.1. Desktop
        3.2. Mobile
    4. Aside
    5. Footer
    6. Cards
    7. Misc.
    8. Print layout
*/

/****************************************************** 1. Basics *****************************************************/

/****************************************************** 1.2. Prep *****************************************************/

* {
    /* Setting some initial parameters for all elements (reset). */
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    /* Setting the font to Roboto, as well as a fall-back font. */
    font-family: Roboto, sans-serif;
}

@media screen and (max-width: 850px) {
    html {
        font-size: 12px;
    }
}

/*************************************************** 1.2. Typography **************************************************/

/************************************************** 1.2.1. Built-ins **************************************************/

p {
    font-size: 1.25em;
    margin: 0.5em 1.25em;
}

mark {
    background: #e21c86;
    color: white;
    padding: 0 0.25em;
}

em {
    color: #e11c84;
}

strong {
    color: #e11c84;
    font-style: italic;
    font-weight: bold;
}

del {
    color: #a42064;
    font-weight: bold;
}

ins {
    color: #1c5555;
}

a {
    color: #e11c84;
    font-weight: bold;
}

/**************************************************** 1.2.2. Custom ***************************************************/

.header-title {
    color: #e11c84;
    font-size: 6em;
    margin: 0.1em 0;
    padding-bottom: 0.1em;
}

.page-title {
    font-size: 4em;
    margin: 0.5rem 1rem;
}

.article-title {
    font-size: 2.5em;
    background: #20dce1;
    color: white;
    padding: 0.2em 0.4em;
}

.section-title {
    font-size: 2em;
    margin: 0.5em 0.5em;
    border-left: 3px solid;
    padding-left: 6px;
    color: #1c5555;
}

.section-subtitle {
    font-size: 1.5em;
    margin: 0.5em 0.75em;
}

.caption {
    text-align: center;
    color: #e11c84;
    font-size: 1.5em;
}

@media screen and (max-width: 850px) {
    .header-title {
        font-weight: normal;
        font-size: 3.5em;
    }
    .page-title {
        font-weight: normal;
        font-size: 3em;
    }
    .article-title {
        font-weight: normal;
        font-size: 2em;
    }
    .section-title {
        font-weight: normal;
        font-size: 1.75em;
    }
    .section-subtitle {
        font-size: 1.25em;
    }
    .caption {
        font-size: 1.25em;
    }
}

/************************************************* 1.3. Page structure ************************************************/

.page {
    margin: 1em auto;
    max-width: 1000px;
}

article {
    margin: 1.25em 1em;
    box-shadow: 2px 2px 8px 0 rgba(60, 60, 60, 0.48);
    overflow: auto;
}

section {
    margin: 12px 0;
}

/****************************************************** 2. Header *****************************************************/

header {
    text-align: center;
}

/**************************************************** 3. Navigation ***************************************************/

/**************************************************** 3.1. Desktop ****************************************************/

nav {
    /* The global navigation container for the hamburger and navigation*/
    box-shadow: 2px 2px 8px 0 rgba(60, 60, 60, 0.48);
    background-color: #20dce1;
    text-align: center;
    display: block;
    z-index: 1;
    position: sticky;
    top: 0;
    min-height: 4em;
}

nav .hamburger {
    /* In desktop mode hide the hamburger */
    display: none;
}

nav .top-navbar {
    /* The container for the actual navigation */
    display: inline-block;
    width: 100%;
    margin-bottom: -0.35em;
}

nav .nav-list {
    /* The unordered list for the navigation links */
    list-style: none;
    margin-left: 0;
}

nav .nav-list li {
    /* The menu list items */
    float: left;
    width: 20%;
}

nav a {
    /* styles for the menu links */
    display: inline-block;
    color: white;
    font-size: 2em;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 0.2em;
    padding-bottom: 0.5em;
}

nav .nav-top-accent {
    /* The top accents for the menu links (for the desktop view) */
    background-color: #e11c84;
    height: 0.4em;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform 350ms ease-in-out;
}

nav .nav-list li:hover .nav-top-accent, nav .nav-list .nav-active .nav-top-accent {
    /* Scaling the top accent bar for hover and the active link (current page)   */
    transform: scaleX(1);
}

/***************************************************** 3.2. Mobile ****************************************************/

@media screen and (max-width: 850px) {
    nav .top-navbar {
        /* The container for the actual navigation */
        overflow: auto;
        width: 100%;
        margin: 0;
        display: block;
    }
    nav .nav-list li {
        /* The menu list items */
        /* Un-setting the float, from the desktop layout */
        float: none;
        width: 100%;
        margin-bottom: 0.3em;
    }
    nav .nav-top-accent {
        /* The top accents for the menu links (for the desktop view) */
        display: none;
    }
    nav a {
        /* styles for the menu links */
        text-align: center;
        font-size: 2em;
        padding: 0;
    }
    nav .nav-active {
        /* The active menu link (the current page) */
        background-color: #e11c84;
    }
    nav .nav-list {
        /* The default display is none (inactive) */
        display: none;
    }
    nav .nav-list.active {
        /* When the menu becomes active, display the menu links */
        display: block;
        margin-top: 0.3em;
    }
    nav .hamburger {
        /* The container for the hamburger button */
        display: block;
        float: right;
        margin-right: 1em;
        margin-top: 0.5em;
        text-align: center;
        cursor: pointer;
    }
    nav .hamburger.active #h-bar1 {
        /* When the menu becomes active, rotate the top bar */
        transform: translate(0, 250%) rotate(45deg);
    }
    nav .hamburger.active #h-bar2 {
        /* When the menu becomes active, scale the bar in the x-direction to 0 */
        transform-origin: 100% 50%;
        transform: scaleX(0);
    }
    nav .hamburger.active #h-bar3 {
        /* When the menu becomes active, rotate the bottom bar */
        transform: translate(0, -250%) rotate(-45deg);
    }
    nav .hamburger-bar {
        /* Styling for the individual bars for the hamburger */
        width: 40px;
        height: 4px;
        background-color: white;
        margin: 0.5em 0;
        /* Animating the transitions */
        transition: all ease-in-out 350ms;
    }
}

/******************************************************* 4. Aside *****************************************************/

/****************************************************** 5. Footer *****************************************************/

footer {
    padding-top: 1.5em;
    clear: both;
    overflow: auto;
}

footer .footer_column {
    float: left;
    width: 50%;
    box-sizing: border-box;
}

footer p {
    margin-left: 2em;
    float: left;
    display: block;
    font-size: 1em;
    clear: both;
}

footer .badge {
    float: right;
    display: block;
    clear: both;
    margin-right: 1.25em;
}

footer .social_bar {
    list-style-type: none;
    padding: 0;
    margin-left: 1.25em;
    overflow: hidden;
    display: block;
    clear: both;
}

footer .fab {
    padding: 0.15em;
    text-align: center;
    text-decoration: none;
    display: block;
    float: left;
    color: #e11c84;
    font-weight: lighter;
    font-size: 2.25em;
}

footer .fab:hover {
    color: #a42064;
}

/******************************************************* 6. Cards *****************************************************/

/******************************************************* 7. Misc. *****************************************************/

.fa-ul {
    margin-left: 4em;
    margin-top: 0.5em;
    padding: 0.25em;
}

.fa-ul p {
    margin: 0.5em 0.5em;
}

.fa-ul .fas {
    color: #e11c84;
    font-size: 1.5em;
}

.anchor {
    display: block;
    position: relative;
    top: -4.5em;
    visibility: hidden;
}

.img-container {
    margin: 1.5em;
    box-shadow: 2px 2px 8px 0 rgba(60, 60, 60, 0.48);
    overflow: auto;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border: 1px solid #ccc;
}

.formula-container {
    margin: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formula-wrapper {
    box-shadow: 2px 2px 8px 0 rgba(60, 60, 60, 0.48);
}

.formula {
    font-size: 1.75em;
}

.column-container {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    margin-top: -1em;
    margin-bottom: -1em;
    padding-right: 0.25em;
    padding-left: 0.25em;
}

.column-container article {
    margin: 1.25em 0.75em;
}

.resume .column_1 {
    flex-basis: 45%;
}

.resume .column_1 article, .resume .column_2 article {
    margin: 1.25em 0.75em;
}

.resume .column_2 {
    flex-basis: 55%;
}

.resume-container::after, section::after {
    content: '';
    display: block;
    border-top: 1px solid #bbb;
    margin: 1.25em 2.5em;
}

.profile-photo-container {
    margin: 1em 4em;
}

.profile-photo {
    max-width: 100%;
    max-height: 100%;
}

@media screen and (max-width: 850px) {
    .column-container {
        flex-direction: column;
        margin-top: -0.5em;
        margin-bottom: -0.5em;
    }
    .column-container article, .resume .column_1 article, .resume .column_2 article {
        margin: 0.6em 0.75em;
    }
}

/******************************************************* 8. Print *****************************************************/